.promotion-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--light-grey);
}

.promotion-section h2 {
  font-size: 3.25rem;
  margin-bottom: 25px;
}

.promotion-section p {
  font-size: 1.125rem;
}

.promotion-section ul {
  padding-left: 15px;
}

.bg-parallax-scroll {
  background: url("../assets/assets/parallax/bg.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 700px;
}

.bg-parallax-scroll {
  background-attachment: scroll;
}

@media (max-width: 1200px) {
  .promotion-section h2 {
    font-size: 2.25rem;
  }
}
