.testimonials-section {
  padding: 80px;
  background: url("../assets//assets/blog/reviews.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.testimonial-img img {
  width: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 30px;
}

.testimonial-paragraph {
  color: var(--white);
}

.item-rating {
  color: var(--yellow);
  margin-top: 20px;
  font-size: 1.2rem !important;
}
.item-rating i {
  margin-right: 5px;
}
.testimonial-title {
  margin-top: 20px;
  color: var(--white);
}
